.hidden {
    display: none !important;
}

.element-pool span {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    background-size: contain !important;
    text-align: center;
}

.spell-container {
    position: absolute;
    top: 200px;
    left: 50px;
}

.element-container {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 2px black;
    background-size: contain !important;
    transition: background-image 1s ease-in-out;
    -webkit-transition: background-image 1s ease-in-out;
    -moz-transition: background-image 1s ease-in-out;
}

.element-container:active > .element-select {
    display: block;
}

.element-select {
    display: none;
}

.element-select:active {
    display: block;
}

.select {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    background-size: contain !important;
}

.pos1 {
    transform: translate(0,100%);
}

.pos2 {
    transform: rotate(60deg) translate(0,100%) rotate(-60deg);
}

.pos3 {
    transform: rotate(120deg) translate(0,100%) rotate(-120deg);
}

.pos4 {
    transform: rotate(180deg) translate(0,100%) rotate(-180deg);
}

.pos5 {
    transform: rotate(240deg) translate(0,100%) rotate(-240deg);
}

.pos6 {
    transform: rotate(300deg) translate(0,100%) rotate(-300deg);
}

*[data-element='fire'] {
    background: url(https://png.icons8.com/color/50/000000/fire-element.png) no-repeat;
}

*[data-element='water'] {
    background: url(https://png.icons8.com/color/50/000000/water.png) no-repeat;
}


*[data-element='decay'] {
    background: url(https://png.icons8.com/color/50/000000/thriller.png) no-repeat;
}

*[data-element='growth'] {
    background: url(https://png.icons8.com/color/50/000000/natural-food.png) no-repeat;
}

*[data-element='earth'] {
    background: url(https://png.icons8.com/color/50/000000/rock.png) no-repeat;
}

*[data-element='air'] {
    background: url(https://png.icons8.com/color/40/000000/air-element.png) no-repeat;
}